ul {
    list-style: none;
}

a {
    color: azure;
    // text-decoration: none;
}

li {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    color: inherit;
    font-weight: 100;
    font-size: medium;
}

a {
    text-decoration: none;
}